<!Author: John Santos>
<!DOCTYPE html>
<html>
    <head>
        <title>Covid Stats</title>
    </head>
    <body>
        <h1>Covid Cases</h1>
        <li>Click this link: <a href="/Daily">Daily</a> to graph the daily number of Covid cases.</li><br>
        <li>Click this link: <a href="/Total">Total</a> to graph the total number of Covid cases.</li><br>
        <li>Click this link: <a href="/loglog">Log-Log</a> plot the total number vs. daily number of Covid cases.</li><br>
    </body>
</html>

<!-- TODO: Add your HTML for the '/' route here -->